<a href="https://colab.research.google.com/github/mounicahandana/MounicaSiriChandana_INFO5731_Fall2023/blob/main/INFO5731_Assignment_1_Fall_2023_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [ ]:
# Your code here
import random

# The generation of twelve random numbers between one and one hundred
rand_numbers = [random.randint(1, 100) for i in range(12)]
print("Random Numbers:", rand_numbers)


# Putting the list in order from top to bottom
ascending_sort = sorted(rand_numbers)
print("Ascending Sorted:", ascending_sort)


# Sorting the list from highest to lowest
descending_sort = sorted(rand_numbers, reverse=True)
print("Descending Sorted:", descending_sort)

# Getting the average
total = sum(rand_numbers)
avg = total / len(rand_numbers)

# Printing the average
print("Average:", avg)

Random Numbers: [31, 76, 94, 88, 87, 40, 56, 38, 48, 36, 46, 23]
Ascending Sorted: [23, 31, 36, 38, 40, 46, 48, 56, 76, 87, 88, 94]
Descending Sorted: [94, 88, 87, 76, 56, 48, 46, 40, 38, 36, 31, 23]
Average: 55.25

# Question 2
(25 points).

Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [ ]:
import string

# Prompt the user for input sentences
input_sentence1 = input("Enter the first sentence: ")
input_sentence2 = input("Enter the second sentence: ")

# Split each sentence into a list of words, including punctuation
def sentence_to_word_list(sentence):
    words = []
    word = ''
    for char in sentence:
        if char.isalnum() or char in string.punctuation:
            word += char
        else:
            if word:
                words.append(word.lower())  # Convert to lowercase
            word = ''
    if word:
        words.append(word.lower())  # Convert to lowercase
    return words

word_list1 = sentence_to_word_list(input_sentence1)
word_list2 = sentence_to_word_list(input_sentence2)

# Find common words between the two sentences
common_words = set(word_list1) & set(word_list2)

# Remove punctuation from the sentences
def remove_punctuation(sentence):
    for char in string.punctuation:
        sentence = sentence.replace(char, '')
    return sentence

sentence1_no_punct = remove_punctuation(input_sentence1)
sentence2_no_punct = remove_punctuation(input_sentence2)

# Count the number of vowels in the sentences after converting to lowercase
vowels = "aeiou"
sentence1_no_punct = sentence1_no_punct.lower()
sentence2_no_punct = sentence2_no_punct.lower()

vowel_counts_sentence1 = {vowel: sentence1_no_punct.count(vowel) for vowel in vowels}
vowel_counts_sentence2 = {vowel: sentence2_no_punct.count(vowel) for vowel in vowels}

# Print the results
print("Word List 1:", word_list1)
print("Word List 2:", word_list2)
print("Common Words:", list(common_words))
print("Sentence 1 without punctuation:", sentence1_no_punct)
print("Sentence 2 without punctuation:", sentence2_no_punct)
print("Vowel Counts in Sentence 1:", vowel_counts_sentence1)
print("Vowel Counts in Sentence 2:", vowel_counts_sentence2)

# Count the number of vowels in common words between sentences
common_words_vowel_counts = {}

for word in common_words:
    vowel_counts = {vowel: word.count(vowel) for vowel in vowels}
    common_words_vowel_counts[word] = vowel_counts

# Print the vowel counts for common words
print("Vowel Counts in Common Words:")
for word, vowel_counts in common_words_vowel_counts.items():
    print(f"{word}: {vowel_counts}")

Enter the first sentence: hi am i Alive ?
Enter the second sentence: hi am i Alive ? yes !
Word List 1: ['hi', 'am', 'i', 'alive', '?']
Word List 2: ['hi', 'am', 'i', 'alive', '?', 'yes', '!']
Common Words: ['?', 'am', 'i', 'alive', 'hi']
Sentence 1 without punctuation: hi am i alive
Sentence 2 without punctuation: hi am i alive  yes
Vowel Counts in Sentence 1: {'a': 2, 'e': 1, 'i': 3, 'o': 0, 'u': 0}
Vowel Counts in Sentence 2: {'a': 2, 'e': 2, 'i': 3, 'o': 0, 'u': 0}
Vowel Counts in Common Words:
?: {'a': 0, 'e': 0, 'i': 0, 'o': 0, 'u': 0}
am: {'a': 1, 'e': 0, 'i': 0, 'o': 0, 'u': 0}
i: {'a': 0, 'e': 0, 'i': 1, 'o': 0, 'u': 0}
alive: {'a': 1, 'e': 1, 'i': 1, 'o': 0, 'u': 0}
hi: {'a': 0, 'e': 0, 'i': 1, 'o': 0, 'u': 0}

# Question 3

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [ ]:
# Your code here
import math

# Make the heading
print("r    V")

# Iterate over the range of radius from 1 to 10
for i in range(1, 11):
    # Calculate the volume using the formula
    V = (4/3) * math.pi * (i ** 3)

    # Print the radius r and the calculated volume V
    print(f"{i}    {V:.2f}")

r    V
1    4.19
2    33.51
3    113.10
4    268.08
5    523.60
6    904.78
7    1436.76
8    2144.66
9    3053.63
10    4188.79

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) included with this assignment. The file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [ ]:
# Your code here
import pandas as pd

df = pd.read_csv("Assignment1_denton_housing.csv")
df.head()

   year             title_field  value
0  2014     Total Housing Units  49109
1  2014    Vacant Housing Units   2814
2  2014  Occupied Housing Units  46295
3  2013     Total Housing Units  47888
4  2013    Vacant Housing Units   4215

In [ ]:
df.shape

(42, 3)

In [ ]:
df.isnull().sum()

year           0
title_field    0
value          0
dtype: int64

### 1

In [ ]:
# Sort the DataFrame by the 'year' column in ascending order
sorted_df = df.sort_values(by='year')

# Create a new DataFrame containing data for 'Occupied Housing Units'
occupied_housing_units = sorted_df[sorted_df['title_field'] == 'Occupied Housing Units'].copy()

# Calculate the difference in occupied housing units from the previous year
occupied_housing_units['Occupied Housing Units Difference'] = occupied_housing_units['value'].diff()

# Create a DataFrame to store the year and the corresponding difference
differences_df = occupied_housing_units[['year', 'Occupied Housing Units Difference']].dropna().astype({'year': int})

# Sort the DataFrame by the difference in ascending order
differences_df.sort_values(by='Occupied Housing Units Difference', ascending=True, inplace=True)

# Iterate through the DataFrame and print the year ranges and differences
for index, row in differences_df.iterrows():
    start_year = row['year']
    end_year = int(start_year) + 1
    difference = int(row['Occupied Housing Units Difference'])
    print(f"{int(start_year)}-{end_year}: {difference}")

2009-2010: -795
2011-2012: -303
2012-2013: 1404
2013-2014: 1565
2014-2015: 2622
2010-2011: 5091

### 2

In [ ]:
# Filter the DataFrame to select only the relevant housing unit types: 'Total Housing Units', 'Vacant Housing Units', and 'Occupied Housing Units'
filtered_housing_df = df[df['title_field'].isin(['Total Housing Units', 'Vacant Housing Units', 'Occupied Housing Units'])]

# Pivot the DataFrame to transform 'year' into columns and 'title_field' as the values
pivoted_housing_df = filtered_housing_df.pivot(index='year', columns='title_field', values='value')

# Calculate the total housing units for each year by adding vacant and occupied units
pivoted_housing_df['Total Housing Units'] = pivoted_housing_df['Vacant Housing Units'] + pivoted_housing_df['Occupied Housing Units']

# Calculate the percentage of vacant and occupied housing units for each year
pivoted_housing_df['Vacant Housing Units Percentage'] = (pivoted_housing_df['Vacant Housing Units'] / pivoted_housing_df['Total Housing Units']) * 100
pivoted_housing_df['Occupied Housing Units Percentage'] = (pivoted_housing_df['Occupied Housing Units'] / pivoted_housing_df['Total Housing Units']) * 100

# Create a resulting DataFrame for presentation
resulting_df = pivoted_housing_df[['Vacant Housing Units Percentage', 'Occupied Housing Units Percentage']].reset_index()
resulting_df.columns = ['Year', 'Vacant Housing Units', 'Occupied Housing Units']

# Print the results with proper formatting
print(resulting_df.to_string(index=False, na_rep='-----', float_format='%.0f%%'))

 Year  Vacant Housing Units  Occupied Housing Units
 2008                   11%                     89%
 2009                    9%                     91%
 2010                    8%                     92%
 2011                    9%                     91%
 2012                    7%                     93%
 2013                    9%                     91%
 2014                    6%                     94%

### 3

In [ ]:
# Pivot the DataFrame to restructure it with years as columns and 'Vacant Housing Units' and 'Occupied Housing Units' as values
housing_units_pivot = df.pivot(index='year', columns='title_field', values='value')

# Find the year with the highest number of vacant housing units
year_with_highest_vacancy = housing_units_pivot['Vacant Housing Units'].idxmax()
highest_vacant_units_value = housing_units_pivot['Vacant Housing Units'].max()

# Find the year with the highest number of occupied housing units
year_with_highest_occupation = housing_units_pivot['Occupied Housing Units'].idxmax()
highest_occupied_units_value = housing_units_pivot['Occupied Housing Units'].max()

# Create a DataFrame to store and present the results
results_df = pd.DataFrame({
    'Year': [year_with_highest_vacancy, year_with_highest_occupation],
    'Value': [highest_vacant_units_value, highest_occupied_units_value]
})

# Rename the index values for better readability
results_df.index = ['Vacant Housing Units ', 'Occupied Housing Units']

# Print the results
print(results_df.to_string(index=True, header=True))

                        Year  Value
Vacant Housing Units    2008   4483
Occupied Housing Units  2014  46295

### 4

In [ ]:
import statistics

# Filter the DataFrame to isolate data for 'Total Housing Units' and convert it to a list
housing_units_values = df[df['title_field'] == 'Total Housing Units']['value'].tolist()

# Calculate the harmonic mean using the statistics module
harmonic_mean_result = statistics.harmonic_mean(housing_units_values)

# Print the calculated harmonic mean
print("Harmonic Mean of Total Housing Units:", harmonic_mean_result)

Harmonic Mean of Total Housing Units: 44398.28543969185

### Thank you!